[Unit]
Description=Nest Management Bot; server edition (NOT CLIENT)
After=network-online.target postgresql.target

[Service]
ExecStart=/home/felixgao/venv/bin/python3.11 nest-management-bot/main.py

[Install]
WantedBy=default.target
